@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-3px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}



.cookie-float {
  animation: float 2s ease-in-out infinite;
}
